* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #241b18;
    color: #FFFFFF;
    margin-left: 5rem;
    background-image: url("/assets/img/HERO.png");
    background-size: 1000px;
    background-position-x: right;
    background-repeat: no-repeat;
}

.lista--navegacao {
    display: flex;
    gap: 2rem;
    justify-content: end;
    align-items: center;
    margin: 1rem 1rem 1rem 0;
}

.lista--navegacao__item {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
}

.corpo {
    display: flex;
}

.conteudo--principal {
    display: flex;
    flex-direction: column;
    margin: 5rem 0 0 0;
    gap: 2rem;
}

.conteudo--principal__texto {
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 100px;
    color: #241b18;
    -webkit-text-stroke-color: #fce3b5;
    -webkit-text-stroke-width: 2px;
    
}

.conteudo--principal__div__botao {
    display: flex;
    gap: 1rem;
}

.conteudo--principal__botao {
    color: #fce3b5;
    background-color: #241b18;
    padding: .7rem 1rem;
    border: 1px solid #fce3b5;
    border-radius: 3rem;
}